# Ignore node_modules directory
node_modules

# Ignore build artifacts
dist

# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore .env files containing sensitive information
.env

# Ignore IDE and editor-specific files
.vscode
.idea
*.swp
*.swo
*.swn
*.log
